APP_ENV=local

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST=/

# Auth Service
AUTH_APP_KEY=base64:generateWithArtisanKeyGenerate=
AUTH_DB_ROOT_PASSWORD=root
AUTH_DB_DATABASE=auth_db
AUTH_DB_USERNAME=auth_user
AUTH_DB_PASSWORD=auth_pass

# User Service
USER_APP_KEY=base64:generateWithArtisanKeyGenerate=
USER_DB_ROOT_PASSWORD=root
USER_DB_DATABASE=user_db
USER_DB_USERNAME=user_user
USER_DB_PASSWORD=user_pass

# Product Service
PRODUCT_APP_KEY=base64:generateWithArtisanKeyGenerate=
PRODUCT_DB_ROOT_PASSWORD=root
PRODUCT_DB_DATABASE=product_db
PRODUCT_DB_USERNAME=product_user
PRODUCT_DB_PASSWORD=product_pass

# Inventory Service
INVENTORY_APP_KEY=base64:generateWithArtisanKeyGenerate=
INVENTORY_DB_ROOT_PASSWORD=root
INVENTORY_DB_DATABASE=inventory_db
INVENTORY_DB_USERNAME=inventory_user
INVENTORY_DB_PASSWORD=inventory_pass

# Order Service
ORDER_APP_KEY=base64:generateWithArtisanKeyGenerate=
ORDER_DB_ROOT_PASSWORD=root
ORDER_DB_DATABASE=order_db
ORDER_DB_USERNAME=order_user
ORDER_DB_PASSWORD=order_pass
