/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Passport keys (generated on first install)
/storage/oauth-private.key
/storage/oauth-public.key
