APP_NAME="Inventory Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8004

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=inventory_service
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=redis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

JWT_ALGORITHM=RS256
JWT_PUBLIC_KEY_PATH=storage/keys/public.pem
JWT_ISSUER=kv-enterprise-auth
JWT_ACCESS_TOKEN_TTL=900

AUTH_SERVICE_URL=http://auth-service:8001
PRODUCT_SERVICE_URL=http://product-service:8003

INVENTORY_VALUATION_STRATEGY=fifo
INVENTORY_PHARMA_COMPLIANCE=false
IDEMPOTENCY_TTL=86400
