APP_NAME="User Service"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8002
LOG_CHANNEL=stderr
LOG_LEVEL=debug
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=user_db
DB_USERNAME=user_user
DB_PASSWORD=user_pass
CACHE_DRIVER=redis
QUEUE_CONNECTION=sync
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
AUTH_SERVICE_URL=http://auth_service
TOKEN_CACHE_TTL=30
AUTH_BYPASS_ENABLED=false
